html {
	font-size: 16px;
	background-color: #FFFFFF;
	font-family: 'Open Sans', sans-serif;
}


h1 {
	font-size: 40px;
	text-align: left;
	margin-top: 110px;
}


body {
	width: 800px;
	margin: 0 auto;
	background-color: #FFFFFF;
	padding: 0 20px 20px 20px;
}


p {
	font-size: 16px;
	line-height: 2;
	letter-spacing: 1px;
}

#personal-image {
	width: 300px;
	height: 330px;
	float: right;
	clear: right;
	border-radius: 10px;
	margin-left: 100px;
	background-position: no-repeat;
	background-position: top right;
	top: 0;
	right: 0;
}

#earth-image {
	width: 30px;
	height: 30px;
	float: left;
	margin-right: 20px;

}

#linkedin-account {
	width: 40px;
	height: 40px;
	margin-right: 20px
}

#github-image {
	width: 40px;
	height: 40px;
	margin-right: 20px;
}

#gmail-image {
	width: 40px;
	height: 40px;
	margin-right: 20px;
}

#outlook-image {
	width: 40px;
	height: 40px;
	margin-right: 20px;
}

#x-image {
	width: 40px;
	height: 40px;
	margin-right: 20px;
}

#instagram-image {
	width: 40px;
	height: 40px;
	margin-right: 20px;
}
